.icon {
  width: rem(24px);
  height: rem(24px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
}

.dark {
  width: rem(18px);
  height: rem(18px);

  @mixin dark {
    display: none;
  }

  @mixin light {
    display: block;
  }
}

.light {
  width: rem(20px);
  height: rem(20px);

  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
  }
}
