.icon {
  width: rem(16px);
  height: rem(16px);
}

.dark {
  @mixin dark {
    display: none;
  }

  @mixin light {
    display: block;
  }
}

.light {
  width: rem(18px);
  height: rem(18px);

  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
    color: var(--mantine-color-white);
  }
}
