.root {
  min-height: rem(40);
  min-width: rem(125);
  border-radius: rem(60);
  background-color: light-dark(
    var(--mantine-color-light-3),
    var(--mantine-color-dark-5)
  );
  color: var(--foreground-rgb)
}

.label {
  font-weight: 400;
}