.wrapper {
  padding-top: rem(40px);
}

.position {
  max-width: rem(300px);
  flex-shrink: 0;
}

.top {
  margin-bottom: rem(20px);
}

.listWrapper {
  max-width: 100%;
  overflow: hidden;

  @media (max-width: $mantine-breakpoint-xs) {
    height: calc(rem(110) * 3);
  }
}
