.position {
  padding: rem(60px) 0;
  position: relative;

  &:first-of-type {
    padding-top: rem(40px);
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: light-dark(
      var(--mantine-color-dark-10),
      var(--mantine-color-light-0)
    );
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &:last-child {
    padding-bottom: 0;
    &::after {
      display: none;
    }
  }

  &:first-child {
    padding-top: 0;
  }
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: rem(800px);
  padding-top: rem(40px);
}
