.header {
  padding: rem(16px) 0;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  text-decoration: none;
  color: inherit;

  @mixin hover {
  }

  &:hover {
    @include hover;
  }
}

.linkLabel {
  margin-right: rem(5px);
}

.iconHome {
  width: rem(36px);
  height: rem(36px);
}

.home {
  display: flex;
  align-items: center;
  gap: rem(10px);
  /* font-size: rem(22px); */
}

.mobileMenu {
  height: 100%;
}

.mobileMenuBody {
  flex-grow: 1;
}

.mobileMenuContent {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.mobileNavigation {
  padding-left: rem(46px);
  margin-top: rem(26px);

  a {
    margin-bottom: rem(16px);
  }
}

.social {
  padding-left: rem(46px);
}
