.header {
  margin-bottom: rem(10px);
}

.description {
  margin-bottom: rem(10px);

  ul {
    list-style: none;
  }

  li {
    padding-left: rem(16px);
    position: relative;

    &::before {
      content: "-";
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.technologies {
  margin-bottom: rem(10px);
}

.workInfo {
  p {
    font-size: rem(14px);
    opacity: 0.6;
  }
}

.technoligy {
  font-size: rem(14px);
}

.positionItem {
  margin-top: rem(20px);
}

.title {
  font-weight: 500;
}
