.header {
  margin-bottom: rem(10px);
}

.description {
  margin-bottom: rem(10px);

  ul {
    list-style: none;
  }

  li {
    padding-left: rem(16px);
    position: relative;

    &::before {
      content: "-";
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}

.technologies {
  margin-bottom: rem(10px);
}

.workInfo {
  margin-bottom: rem(8px);
  p {
    font-size: rem(14px);
    opacity: 0.6;
  }
}

.infoDescription {
  p {
    position: relative;
    padding-right: rem(6px);
    display: inline-block;
    &::after {
      content: "";
      width: rem(2px);
      height: rem(2px);
      border-radius: 50%;
      background-color: currentColor;
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 0;
    }
    &:last-of-type::after {
      display: none;
    }
  }
}

.positionItem {
  margin-top: rem(26px);
}

.title {
  font-weight: 500;
}
