.root {
  padding: rem(80) 0;
  text-align: center;
}

.description {
  margin-top: rem(24);
  p {
    max-width: rem(600);
  }
}

.action {
  font-size: rem(28);
  padding: rem(18) rem(50);
  border-radius: rem(60);
  background-color: light-dark(
    var(--mantine-color-light-3),
    var(--mantine-color-dark-7)
  );

  @media (max-width: $mantine-breakpoint-md) {
    font-size: rem(22);
    padding: rem(20) rem(60);
  }
}
