.root {
  padding: rem(80) 0;
  text-align: center;
}

.description {
  margin-bottom: rem(24);
  p {
    max-width: rem(600);
  }
}

.action {
  font-size: rem(22);
  padding: rem(12) rem(22);
  border-radius: rem(60);
  background-color: light-dark(
    var(--mantine-color-light-3),
    var(--mantine-color-dark-7)
  );
}
